<footer class="container-fluid bg-grey py-5">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <div class="row">
              <div class="col-md-6 ">
                 <div class="logo-part">
                    <img src="https://i.ibb.co/sHZz13b/logo.png" class="w-50 logo-footer" >
                    <p>03140 Київ  вул.Петровського,2 оф.1 </p>
                    <p>Нічого немає краще, чим бути в рівновазі з собою</p>
                 </div>
              </div>
              <div class="col-md-6 px-4">
                 <h6> Про центр</h6>
                 <p>Підтримка і розвиток психологічного стану та пошук нових можливостей.</p>
                 <a href="#" class="btn-footer"> Більш детально </a><br>
                 <a href="#" class="btn-footer"> Наші контакти</a>
              </div>
           </div>
        </div>
        <div class="col-md-6">
           <div class="row">
              <div class="col-md-6 px-4">
                 <h6> Допомога</h6>
                 <div class="row ">
                    <div class="col-md-6">
                       <ul>
                          <li> <a href="#"> Головна</a> </li>
                          <li> <a href="#"> Про нас</a> </li>
                          <li> <a href="#"> Домога</a> </li>
                          <li> <a href="#"> Команда</a> </li>
                          <li> <a href="#"> Contact</a> </li>
                          <li> <a class="color" (click)="auth()" href="#"> Логін</a> </li>
                          <li> <a class="color" (click)="authservice.logOut()" href="#"> Вихід</a> </li>

                       </ul>
                    </div>
                    <div class="col-md-6 px-4">
                       <ul>
                          <li> <a href="#"> Кабінет користувача</a></li>
                          <li> <a href="#"> Почта</a> </li>
                          <li> <a href="#"> Дрговір</a> </li>
                          <li> <a href="#"> Страхування</a> </li>
                          <li> <a href="#"> Зворотній зв'язок</a> </li>
                          <li> <a href="#"> Дотація</a> </li>
                       </ul>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 ">
                 <h6> Листування</h6>
                 <div class="social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                 </div>
                 <form class="form-footer my-3">
                    <input type="text"  placeholder="search here...." name="search">
                    <input type="button" value="Вперед" >
                 </form>
                 <p>Пишить нам і дзвоніть без обмежень</p>
              </div>
           </div>
        </div>
     </div>
  </div>

