<!--Перевірка веденого пароля-->
<div class="alert alert-danger" *ngIf="authservise.error$ | async as error">{{error}}</div>
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h2>Блог психолога</h2>
          <h3>Читайте наші публікації та долучайтесь до співпраці однодумців.</h3>
          <br />
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Дивитись відео</a>
          <button type="button" class="btn btn-outline-neutral btn-round">Скачати брошуру.</button>
      </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">Дещо про нас</h2>
              <h5 class="description">Психологічний центр "Відродження особістості" це некомерційна організація, яка створена з метою допомоги людям з психолоічними травмами та порушеною психікою найти себе та має бажання відтворити свої справжні ємоційні почуття.</h5>
              <br>
              <a href="#paper-kit" class="btn btn-danger btn-round">Дательніше</a>
          </div>
      </div>
      <br/><br/>
      <div class="row">
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-album-2"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Нам довіряють</h4>
                      <p class="description">Ми команда професіоналів і ми підходимо до справи з найщирішими побажаннями допомогти.</p>
                      <a href="#pkp" class="btn btn-link btn-danger">Більш детально</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-bulb-63"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Даєм надію</h4>
                      <p>Надія, це то без чого наші відвідувачі та пацієти мають завжди знати, що ми ім допоможемо та вірішим ситуацію.</p>
                      <a href="#pkp" class="btn btn-link btn-danger">Більш детально</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-chart-bar-32"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Досягнення</h4>
                      <p> Пять років досвіду та спіпраці з кращими психологічними центрами країни та Європи.Провідні писхологи та психотерапевти.</p>
                      <a href="#pkp" class="btn btn-link btn-danger">Більш детально</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-sun-fog-29"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Майбутнє</h4>
                      <p>Ми не залишаємо вас на самоті. Ми телефонуємо вам, запрошуємо на зустрічі та підтримоємо вас в майбутньому.</p>
                      <a href="#pkp" class="btn btn-link btn-danger">Більш детально</a>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>

<div class="section section-dark text-center">
  <div class="container">
      <h2 class="title">Знайомтесь з нами</h2>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Валентин Загоруйко</h4>
                              <h6 class="card-category">Сімейний психолог</h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                      Те що ми приносимо в родину та ділимось почуттями є справжньою цінністью для всіх вас. Я навчу вас сімейним практикам та відкрию нову сторону цієї грані.
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Софія Ветлицька</h4>
                              <h6 class="card-category">Коуч </h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                     А хто ви є? Вам також цікаво. Дпоможу знайти своє друге Я.Разом з вами ми визначемо ваше життєве призначення, поспілкуємось з вахим его та пораджу як це перетворити на ваше кредо.
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Максим Прут</h4>
                              <h6 class="card-category">Пофігіст</h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                     Да да ви вірно прочитали. Ми лакаємость тих чи інших новин, стосунків та передчуття нового. Я вас думати по іншому та сприймати речі з особистою вигодою для себе і не лякатись нового.
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

  <div class="section landing-section">
      <div class="container">
          <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                  <h2 class="text-center">Є бажання нам написати?</h2>
                  <form class="contact-form">
                      <div class="row">
                          <div class="col-md-6">
                              <label>Ім'я</label>
                              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Ім'я" (focus)="focus=true" (blur)="focus=false" >
                              </div>
                          </div>
                          <div class="col-md-6">
                              <label>Email</label>
                              <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>
                          </div>
                      </div>
                      <label>Повідомлення</label>
                      <textarea class="form-control" rows="4" placeholder="Текст повідомлення......."></textarea>
                      <div class="row">
                          <div class="col-md-4 mr-auto ml-auto">
                              <button class="btn btn-danger btn-lg btn-fill">Відправити</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<app-main-layout></app-main-layout>


